# Database Configuration
MONGODB_URI=mongodb://localhost:27017/earnbuddy
MONGODB_URI_PROD=mongodb://localhost:27017/earnbuddy

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=path/to/serviceAccountKey.json

# Server Configuration
PORT=8000
FRONTEND_URL=http://localhost:3000

# Environment
NODE_ENV=development
